/* General styles for website */

/* Body */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Auxiliars */
.container {
    max-width: 1280px;
    margin: auto;
    padding: 0 2%;
}

section {
    padding: 100px 0;
}

/* Fonts */
a {
    text-decoration: none;
    color: #656669
}

/* Titles */
h2 {
    color: #656669;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 50px 0;
    text-align: center;
}

/* Buttons */
button {
    margin: 20px 0;
    height: 50px;
    color: white;
    border: 0;
    cursor: pointer;
}

/* Inputs */
input {
    border: 0.5px solid #ccc;
    border-radius: 2px;
    height: 40px;
    margin: 10px 0;
    padding-left: 5px;
}

select {
    border: 0.5px solid #ccc;
    border-radius: 2px;
    height: 40px;
    background-color: white;
    margin: 10px 0;
}

textarea {
    border: 0.5px solid #ccc;
    border-radius: 2px;
    resize: none;
    padding: 5px;
}

/* Header */
header {
    position: fixed;
    background-color: white;
    z-index: 2000;
    width: 100%; 
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.header-container img {
    width: 100px;
}

.header-menu-hamburguer {
    display: none;
    font-size: 20px;
    color: #808284;
    cursor: pointer;
}

.header-menu ul li {
    display: inline;
    margin: 0 30px;
    cursor: pointer;
}

/* Footer */
.footer-logo{
    text-align: center;
    padding: 30px 0 10px 0;
    border-top: 1px solid white;
    max-width: 900px;
    margin: 0 auto;
}

.footer-logo img{
    width: 100px;
}

footer {
    background-color: #112E42;
    padding-top: 30px;
    font-size: 8pt;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    padding: 10px 0;
}

footer p {
    font-size: 10pt;
    font-weight: bold;
    margin: 10px 0;
}

.social  > span {
    color: #00BAE0;
    font-size: 20pt;
}

.social > span:nth-child(3) {
    margin-left: 10px;
}

.info > p {
    margin-bottom: 20px;
}

