/* Main Background*/
.main-bg {
    background-image: url("../assets/images/mock-bg-main.jpg");
    background-size: cover;
    background-position-y: 700px;
    height: 700px;
    position: relative;
    padding: 0;
}

.main-overlay {
    position: absolute;
    width: 100%;
    height: 700px;
    background-color: rgba(96, 138, 172, 0.702);
}

.main-bg > .container {
    position: relative;
    height: 100%;
}

.main-text-box {
    position: absolute;
    z-index: 999;
    padding: 100px 0;
}

.main-text-box p {
    color: white;
    font-size: 20pt;
}

.main-text-box p > span {
    display: block;
    text-transform: uppercase;
}

.main-text-box p > span:nth-child(1){
    font-size: 50pt;
}

.main-text-box p > span:nth-child(2){
    font-weight: bolder;
    font-size: 60pt;
}

.main-text-box p:nth-child(3){
    font-weight: bolder;
}

.main-text-box button{
    width: 250px;
    cursor: pointer;
    background-color: #112E42;
}

.main-service-boxes {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1001;
}

.service-box {
    width: 33.3%;
    height: 350px;
    margin: 0 20px;
    color: white;
    text-align: center;
    position: relative;
    top: 250px;
}

.service-box h2 {
    font-size: 20pt;
    color: white;
    margin: 30px 0 10px 0;
    text-transform: capitalize
}

.service-box p {
    font-size: 10pt;
    text-align: center;
    margin: 80px 60px 40px 60px;
    line-height: 22px;
}

.service-box:nth-child(1) {
    background-color: #2F2E2E;
}

.service-box:nth-child(2) {
    background-color: #605E5E
}

.service-box:nth-child(3) {
    background-color: #A0A09F;
}

.main-arrow {
    width: 30px;
}

@keyframes showServiceBox {
    from {
        top: 250px;
        opacity: 0.5;
    } 
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes hiddeServiceBox {
    from {
        top: 0;
        opacity: 0.5;
    } 
    to {
        top: 250px;
        opacity: 1;
    }
}


/* About Eleven */
.about-eleven {
    padding: 0;
    position: relative;
    z-index: 1004;
}

/* Adaptação para esconder main serviceBox */
.overlay-about {
    background-color: white;
    width: 100%;
    height: 250px;
}

.about {
    display: flex;
    align-items: center;
}       

.about-video iframe {
    width: 560px;
    height: 315px;
}

.about-description {
    padding-left: 100px;
    display: flex;
}

.about-description > div {
    margin: 0 20px;
}

.about-description p {
    line-height: 22px;
}

.about-description button {
    width: 250px;
    background-color: #112E42;
}

/* Services */
.covers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 300px 2px 0 2px;
}

.cover-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cover-container{
    width: 48%;
    height: 500px;
    margin: 5px;
}

.cover-box h3 {
    text-transform: uppercase;
    font-size: 22pt;
    padding: 10px 0;
}

.cover-list {
    display: none;
}

.cover-list li {
    font-size: 14pt;
    margin: 5px 0;  
    text-align: left;
}

.blue-box {
    background-color: #112E42;
    color: white;
}

.gray-box {
    background-color: #F8F9FA;
    color: #605E5E;
}

@keyframes flipBox {
    0% {
        transform: rotateY(0deg);
        opacity:1;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: rotateY(360deg);
        opacity:1;
    }
}

@keyframes unflipBox {
    0% {
        transform: rotateY(0);
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: rotateY(-360deg);
        opacity:1;
    }
}

/* Media News */
.media-news {
    background-color: #F8F9FA;
    text-align: center;
}

.media-news h2 {
    color: #112E42;
    margin: 0 50px 50px 50px;
}

.media-news h2 > span {
    color: #00BAE0
}

.news {
    display: flex;
    justify-content: space-around;
}



/* Reports */
.report {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 auto; */
}

.report-card { 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: 0 20px;
}

.report-card > div {
    margin: 0;
    width: 100%;
}

.report-card img {
    width: 100%;
}

.report-card h3 {
    width: 175px;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: 250px;
    padding: 20px;
}

.report-card p {
    width: 100%;
    position: absolute;
    bottom: 110px;
    padding: 20px;
    font-size: 10pt;
    
}

.report-card div:nth-child(2){
    position: relative;
    background-color: #F8F9FA;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Team */
.team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.team-group span {
    font-size: 14pt;
    font-weight: bold;
    margin: 10px 0;
}

.team-social span {
    color: #00BAE0;
    margin: 0 10px;
}

/* .team-item img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
} */

/* Call Us */
.call-us {
    background-color: #112E42;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.call-us span {
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.call-us span > img {
    margin: 0 10px;
}
/* Contact */

.form-group input {
    width: 49%;
}

.form-group > div {
    margin: 0 auto;
}

.form-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group button {
    width: 250px;
    background-color: #112E42;
}

.contact-box {
    display: flex;
    justify-content: space-between;
}

form {
    width: 48%;
}

.contact-box > div {
    width: 48%;
}

.contact-group {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.contact-group span {
    color: #605E5E;
    margin: 5px;
}

.contact-group iframe {
    width: 600px;
    height: 280px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}