/* Media queries to responsible site */

/* BreakPoints */
/* Break Point 1250px
    about
    Team
*/
@media screen and (max-width: 1250px) {
    h2 {
        text-align: center;
    }  

    form {
        width: 100%;
    }

    .contact-group {
        align-items: center;
    }

    .contact-group iframe {
        width: 500px;
    }

}

/* Break Point 950px
    Team
*/
@media screen and (max-width: 950px) {
    /* .team-group {
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 5px
    } */

    /* .team-item  {
        width: 100%;
        
    } */

    .team-item img {
        width: 280px;
        height: 280px;
        border-radius: 140px;
        margin: 10px 10px;
    }
}

/* Break Point 850px
    MainBoxes
    About
*/
@media screen and (max-width: 850px) {
    .main-text-box {
        padding: 200px 0;
    }

    .service-box {
        margin: 0 5px;
    }

    .service-box h2 {
        font-size: 16pt;
    }

    .service-box p {
        margin: 60px 30px 20px 30px;
    }

    .about-description div > p {
        margin: 30px 0;
    }
}

/* Break Point 800px
    Menu 
    MainBoxes
    Cover
*/
@media screen and (max-width: 800px) {
    .header-menu ul li{
        display: inline;
        margin: 0 10px;
    }
    .service-box {
        margin: 0 10px;
    }

    .service-box h2 {
        font-size: 18pt;
    }

    .service-box p {
        margin: 60px 30px 20px 30px;   
    }

    .cover-container {
        width: 100%;
        height: 350px;
    }

    .cover-box div:nth-child(1) h3{
        font-size: 14pt;
    }

    .cover-box div:nth-child(1) {
        font-size: 10pt;
        margin: 0 30px;
    }
    
    .cover-list li {
        width: 100%;
        font-size: 16px;
        margin: 5px 0;
    }
}

/* Break Point 650px
    MainTexts
    About
*/
@media screen and (max-width: 650px){
    .main-text-box p > span:nth-child(1) {
        font-size: 30pt;
    }
    
    .main-text-box p > span:nth-child(2) {
        font-size: 40pt;
    }   

    .about-video iframe{
        width: 350px;
        padding: 0;
        margin: 0;
    }

    .report {
        flex-direction: column;
        align-items: center;
    }

    .report-card {
        margin: 30px 0;
    }

    .team-group {
        margin: 0 auto;
    }
}

/* Break Point 450px
    MainBoxes
    About
    News
*/
@media screen and (max-width: 450px) {
    .main-text-box p {
        font-size: 10pt;
    }

    .main-text-box p > span:nth-child(1) {
        font-size: 20pt;
    }
    
    .main-text-box p > span:nth-child(2) {
        font-size: 30pt;
    }

    .service-box {
        display: none;
    }

    .service-box h2 {
        font-size: 14pt;
        margin: 20px 0 10px 0;
    }

    .service-box p {
        margin: 40px 5px 20px 5px;
    } 

    .overlay-about {
        display: none;
    }
    .about-description div{
        width: 300px;
    }

    .about-description div > p {
        margin: 10px 0;
    }

    .about-video iframe{
        width: 400px;
        padding: 0;
        margin: 0;
    }

    .news {
        flex-direction: column;
        align-items: center;
    }

    .news img{
        margin: 10px 0;
    }

    .call-us span {
        font-size: 10pt;
        text-align: center;
    }

    .call-us span > img{
        width: 50px;
    }

    .contact-box > div {
        width: 100%;
    }

    .contact-group {
        text-align: center;
    }

    .contact-group iframe {
        width: 360px;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: none;
    }
}

/* Break Point 400px
    About
*/
@media screen and (max-width: 400px) {
    .about-video iframe{
        width: 300px;
        height: 200px;
        padding: 0;
        margin: 0;
    }

    .contact-group iframe {
        width: 300px;
    }
}

/* --------------------------------------------------------- */
/* Responsible */
/* About Eleven */
@media screen and (max-width: 1024px) {
    .about {
        flex-direction: column-reverse;
    }

    .about-description {
        padding: 0;
        margin: 50px 100px;
        text-align: center;
    }

    .about-description > div {
        margin: 0;
    }

    .about-description p {
        margin: 30px 100px;
        line-height: 22px;
    }

    .covers {
        margin: 0 2px;
    }

    .about {
        position: relative;
        z-index: 1005;
      
    }   

    .contact-box {
        flex-direction: column;
        align-items: center;
    }

    .contact-group {
        margin: 100px 0;
    }
}

/* Mobile Menu 700px*/
@media screen and (max-width: 700px) {
    .header-menu {
        display: none;
    }

    .header-menu-mobile {
        display: none;
    }

    .header-menu-hamburguer {
        display: block;
    }

    .header-menu-mobile ul {
        position: absolute;
        text-align: left;
        z-index: 1003;
        top: 65px;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 0 auto; 
        width: 100%;
        list-style: none;
    }

    .header-menu-mobile ul li {
        margin-bottom: 10px;
    }

    .header-menu-mobile ul li:hover {
        border-bottom: 2px solid #00BAE0;
    }
}
